body{
    background-color: #d8c6b8;
}

h1{
    text-align: left;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 26px;
    color: #0B9446;
    
}
h2{
    text-align: left;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 26px;
    color: #cf1c44;
}

p{
    font-family: 'Klinic Slab Medium';
    font-size: 15px;
    color: #543136;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
    background-color: #d8c6b8;
    color: white;
}

.img-a{
    position: relative;
    left: -1225px;
    display: block;
    height: 125px;

}

img{
    float: right;
    width: 275px;
}

.rest-img{
    float: right;
    width: 420px;
}

.pasta-img{
    position: relative;
    float: left;
    padding: 15px;
}
.toastnspread{
    float: right;
    width: 190px;
}

.fa{
    padding: 25px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
    position: relative;
    left: 1250px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
        }

li{
    display: inline;
       }

li a{
    color: #fff;
    padding: 10px;
    background-color: #cf1c44;
}

.navbar{
    overflow: hidden;
    background-color:#cf1c44;
}

.navbar a{
    float: left;
    display: block;
    color: #543136;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover{
    background-color: #5e1211;
    color: #fff;
}

.navbar a:active{
    background-color: #7b573e;
    color: #fff;
}

.navbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #cf1c44;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b72f4c;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
}