@charset "utf-8";
/* CSS Document */
body {
  background: url("CoolPsychedelicTexture.jpg") no-repeat center fixed;
  background-size: 100%;
  margin: 0 10%;
  font-family: sans-serif;
  }
header{
  background-color: rgba(71,227,156,0.75);
  border-style: outset;
  border-color: #95CFA2;
  border-width: 5px;
}

h1 {
  text-align: center;
  text-shadow: .1em .1em .2em gray;
  font-family: constantia, serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #000857;
  margin-top: 30px;
}

h2 {
  font-size: 1em;
  text-align: center
}
ul {
	text-align: center;
	list-style-position: inside;
}
ol {
	text-align: center;
	list-style-position: inside;
}
.title {
	background-color: rgba(71,227,156,0.75);
    border-style: outset;
    border-color: #95CFA2;
    border-width: 5px;
}
.skills {
	background-color: rgba(71,227,156,0.75);
    border-style: outset;
    border-color: #95CFA2;
    border-width: 5px;
	text-align: center;
}
.software {
	background-color: rgba(71,227,156,0.75);
    border-style: outset;
    border-color: #95CFA2;
    border-width: 5px;
	text-align: center;
}
.socialMedia {
	background-color: rgba(71,227,156,0.75);
    border-style: outset;
    border-color: #95CFA2;
    border-width: 5px;
}
.sample {
	background-color: rgba(71,227,156,0.75);
    border-style: outset;
    border-color: #95CFA2;
    border-width: 5px;
	text-align: center;
}
